---
layout: default
disqus: false
post_class: post-template
---

<main id="main" class="site-main">

    <article class="post-full inner">

        <header class="post-header">
            <div class="post-meta">
                <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">
                    {{ page.date | date: "%B %-d, %Y" }}
                </time>
            </div><!-- .post-meta -->
            <h1 class="post-title">{{ page.title }}</h1>
        </header><!-- .post-header -->

        {% if page.featured_image %}
        <div class="post-thumbnail">
            <img src="{{ site.baseurl }}{{ page.featured_image }}" alt="{{ page.title }}">
        </div>
        {% endif %}
        <div class="post-content">
            {{content}}
        </div>
        <footer class="post-footer">
            <div class="post-share">
                <span class="post-share-title">Share:</span>
                <a target="_blank"
                    href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ site.production_url }}{{ page.url | remove_first: '/' }}">Twitter</a>
                <a target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | remove_first: '/' }}">Facebook</a>
            </div><!-- .share-post -->
            {% if page.categories.size > 0 %}
            <p class="post-cats">
                <span class="post-share-title">Filed under </span>
                {% for cat in page.categories %}<a href="{{ site.baseurl }}/categories/index.html#{{ cat | cgi_escape }}"
                    rel="category">{{ cat }}</a>
                {% unless forloop.last %} {% endunless %}{% endfor %}
            </p>
            {% endif %}
            {% if page.tags.size > 0 %}
            <p class="post-tags">
                <span class="post-share-title">Tagged with </span>
                {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}"
                    rel="tag">{{ tag }}</a>
                {% unless forloop.last %} {% endunless %}{% endfor %}
            </p>
            {% endif %}
        </footer>
        {% include disqus.html %}
    </article>
    {% if site.mailchimp_url %}
    {% include newsletter-box.html %}
    {% endif %}
    <section class="read-next inner">
        <h2 class="read-next-title">Read Next</h2>
        {% if page.previous.url %}
        <article class="post">
            <header class="post-header">
                <div class="post-meta">
                    <time class="published" datetime="{{page.previous.date | date: '%B %-d, %Y'}}">{{page.previous.date
                            | date: "%B %-d, %Y"}}</time>
                </div>
                <h3 class="post-title"><a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
                </h3>
            </header>
        </article>
        {% endif %}
        {% if page.next.url %}
        <article class="post">
            <header class="post-header">
                <div class="post-meta">
                    <time class="published" datetime="{{page.next.date | date: '%B %-d, %Y'}}">{{page.next.date |
                            date: "%B %-d, %Y"}}</time>
                </div>
                <h3 class="post-title"><a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></h3>
            </header>
        </article>
        {% endif %}
    </section><!-- .read-next -->

</main><!-- .site-main -->
